<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Wallboard - Github</title>
</head>

<body>
<h4>Releases</h4>

<div th:each="release : ${sonarJavaReleases}">
    <strong th:text="${release.repoName}"></strong>  release number:<span th:text="${release.name}"></span> _|_ release date: <span th:text="${release.published_at}"></span>
</div>

</body>
</html>
